{% extends 'base.html' %}

{% block head %}
<title>About</title>
{% endblock %}

{% block body %}
<br>
<h1>About</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Work by group 2</h1>
            <p>Members include:</p>
                <p>&nbsp;--> Akula Sudhamshu</p>
                <p>&nbsp;--> Balaji D</p>
                <p>&nbsp;--> Cheemalamarri V S Siddhartha</p>
                <p>&nbsp;--> Ganapathi Subramanyam Jayam</p> 
            
            
                
            
        </div>
    </div>
</main>
{% endblock %}/*